<h1>User Registration API</h1>


<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-4"><input type="text" value="johndoe" id="usernameInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Password</div>
        <div class="col-4"><input type="text" value="somePassword" id="passwordInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Email</div>
        <div class="col-4"><input value="john.doe@mail.com" type="text" id="emailInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="register" value="Register" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6" id="responseContainer">

    </div>
</div>
<script src="~/lib/jsSHA-3.1.2/sha.js"></script>
<script language="javascript" type="text/javascript">
    var uri = "ws://" + window.location.host + "/ws";
    document.getElementById("register").disabled = true;
    debugger
    function connect() {
        socket = new WebSocket(uri);
        socket.onopen = function (event) {
            console.log("opened connection to " + uri);

            document.getElementById("register").disabled = false;
            document.getElementById("register").addEventListener("click", function () {
                debugger
                var username = document.getElementById("usernameInput").value;
                var password = document.getElementById("passwordInput").value;
                var email = document.getElementById("emailInput").value;

                var shaObj = new jsSHA("SHA-256", "TEXT");
                shaObj.setHMACKey(password, "TEXT");
                shaObj.update(username);
                var hashedPassword = shaObj.getHMAC("HEX");

                socket.send(JSON.stringify({
                    command: 'register',
                    username: username,
                    password: hashedPassword,
                    email: email
                }));
            });
        };
        socket.onclose = function (event) {
            console.log("closed connection from " + uri);
        };
        socket.onmessage = function (event) {
            console.log(event.data);
            document.getElementById("responseContainer").innerHTML = event.data;
        };
        socket.onerror = function (event) {
            console.log("error: " + event.data);
        };
    }
    connect();



</script>
