<h1>User Registration API</h1>

<h3>Registration</h3>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-4"><input type="text" value="johndoe" id="usernameInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Password</div>
        <div class="col-4"><input type="text" value="somePassword" id="passwordInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Email</div>
        <div class="col-4"><input value="john.doe@mail.com" type="text" id="emailInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="verifyEmail" value="Verify Email" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">Verification Code</div>
        <div class="col-4"><input type="text" id="verificationCodeInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="register" value="Register" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<h3>Login</h3>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Username</div>
        <div class="col-4"><input type="text" value="johndoe" id="usernameLoginInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Password</div>
        <div class="col-4"><input type="text" value="somePassword" id="passwordLoginInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="login" value="Login" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <h3>Api Response</h3>
    <div class="col-6" id="responseContainer">

    </div>
</div>
<script src="~/lib/jsSHA-3.1.2/sha.js"></script>
<script language="javascript" type="text/javascript">
    (function () {

        var uri = "wss://" + window.location.host + "/ws";
        var socket = new WebSocket(uri);
        document.getElementById("register").disabled = true;
        document.getElementById("login").disabled = true;
        document.getElementById("verifyEmail").disabled = true;

        function connect() {

            socket.onopen = function (event) {
                console.log("opened connection to " + uri);
                document.getElementById("register").disabled = false;
                document.getElementById("register").addEventListener("click", function () {
                    register();
                });
                document.getElementById("login").disabled = false;
                document.getElementById("login").addEventListener("click", function () {
                    requestLoginSalt();
                });
                document.getElementById("verifyEmail").disabled = false;
                document.getElementById("verifyEmail").addEventListener("click", function () {
                    verifyEmail();
                });
            };
            socket.onclose = function (event) {
                console.log("closed connection from " + uri);
            };
            socket.onmessage = function (event) {
                console.log(event.data);
                document.getElementById("responseContainer").innerHTML = event.data;
                var response = JSON.parse(event.data);

                if (response.Command == 'loginSalt') {
                    login(response);
                }

            };
            socket.onerror = function (event) {
                console.log("error: " + event.data);
            };
        }

        function register() {
            var username = document.getElementById("usernameInput").value;
            var password = document.getElementById("passwordInput").value;
            var email = document.getElementById("emailInput").value;
            var verificationCode = document.getElementById("verificationCodeInput").value;
            var hashedPassword = hash(password, username);

            socket.send(JSON.stringify({
                command: 'register',
                username: username,
                password: hashedPassword,
                email: email,
                verificationCode: verificationCode
            }));
        }

        function requestLoginSalt() {
            var username = document.getElementById("usernameLoginInput").value;
            var password = document.getElementById("passwordLoginInput").value;
            socket.send(JSON.stringify({
                command: "loginSalt",
                username: username,
                password: password
            }));
        }

        function login(response) {
            if (response.Success) {
                var username = document.getElementById("usernameLoginInput").value;
                var password = document.getElementById("passwordLoginInput").value;
                var hashedPassword = hash(password, username);
                var hmac = hash('superSecretKey', hashedPassword);
                var challenge = hash(response.Salt, hmac);
                socket.send(JSON.stringify({
                    command: 'login',
                    username: username,
                    challenge: challenge
                }));
            }
        }

        function hash(key, message) {
            var shaObj = new jsSHA("SHA-256", "TEXT");
            shaObj.setHMACKey(key, "TEXT");
            shaObj.update(message);
            return shaObj.getHMAC("HEX");
        }

        function verifyEmail() {
            var username = document.getElementById("usernameInput").value;
            var email = document.getElementById("emailInput").value;

            socket.send(JSON.stringify({
                command: "emailVerification",
                email: email, username: username
            }));
        }

        connect();

    })();



</script>
